<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="product">
    <img [src]="product.image" alt="{{ product.title }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ product.category }}</ion-card-subtitle>
      <ion-card-title>{{ product.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ product.description }} </ion-card-content>
    <ion-item>
      <ion-label>Price:</ion-label>
      <ion-text>{{ product.price | currency }}</ion-text>
    </ion-item>
    <ion-button expand="block" (click)="addToCart(product)"
      >Add to Cart</ion-button
    >
  </ion-card>
</ion-content>
